@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*:focus,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #564e4e;
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 73px;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

header {
  height: 100vh;
  padding: 40px 0 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-1.jpg") no-repeat center/cover;
  position: relative;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .navbar__logo {
  display: flex;
  justify-content: flex-start;
}
header .navbar__logo a {
  transition: all 0.2s;
}
header .navbar__logo:hover a {
  transform: scale(1.1);
}
header .navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 60px;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
header .navbar__menu li a {
  transition: all 0.2s;
  color: #ffffff;
}
header .navbar__menu li:hover > a {
  color: rgb(250, 220, 217);
}
header .navbar__submenu {
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 27px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #333;
  border-radius: 10%;
}
header .navbar__submenu li {
  margin: 5px 0;
}
header .navbar #submenu {
  position: relative;
}
header .navbar #submenu::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 5px;
  background: url("../img/arrow_down.svg");
}
header .navbar #submenu:hover .navbar__submenu {
  opacity: 1;
}
header .navbar div {
  flex-basis: 33.33%;
}
header .navbar__cart {
  display: flex;
  justify-content: flex-end;
}
header .navbar__cart a {
  transition: all 0.2s;
}
header .navbar__cart:hover a {
  transform: scale(1.1);
}
header .main {
  margin-top: 161px;
}
header .main__title {
  max-width: 834px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}
header .main__descr {
  max-width: 574px;
  margin: 48px auto 0;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
}
header .main__input {
  width: 360px;
  margin: 60px auto 0;
  position: relative;
}
header .main__input input {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  padding: 16px 19px;
}
header .main__input:hover::after {
  transform: scale(1.1);
}
header .main__input::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 9px;
  width: 38px;
  height: 38px;
  background-image: url("../img/search.svg");
  transition: all 0.2s;
  cursor: pointer;
}

#header-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-1.jpg") no-repeat center/cover;
}

#header-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-2.jpg") no-repeat center/cover;
}

#header-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-3.jpg") no-repeat center/cover;
}

.swiper-pagination {
  bottom: 60px !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fadcd9;
  opacity: 1;
  margin: 0 10px !important;
}
.swiper-pagination-bullet-active {
  background: #f79489;
  border: 1px solid #f79489;
}

.advantages {
  padding: 76px 0 200px;
  min-height: 372px;
}
.advantages__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  color: #564e4e;
}
.advantages__wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.advantages__item {
  width: 100%;
  padding: 16px 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fadcd9;
  box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
  border-radius: 10px;
}
.advantages__icon {
  padding: 10px;
}
.advantages__title {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}
.advantages__descr {
  font-size: 18px;
  line-height: 200%;
}
.advantages__link a {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}

.ideas {
  padding-bottom: 200px;
  min-height: 611px;
}
.ideas__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  align-items: unset;
}
.ideas__block {
  height: 562px;
  overflow-y: scroll;
  padding-right: 50px;
}
.ideas__block::-webkit-scrollbar {
  background-color: #fadcd9;
  width: 2px;
  height: 100px;
}
.ideas__block::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: #f79489;
  border-radius: 2px;
}
.ideas__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
}
.ideas__descr {
  max-width: 806px;
  padding: 20px 0;
  font-size: 18px;
  line-height: 200%;
}
.ideas__item {
  position: relative;
  cursor: pointer;
}
.ideas__item::after, .ideas__item::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 16px;
  border: 1px solid #f79489;
}
.ideas__item::after {
  transform: rotate(-90deg);
}
.ideas__content {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.ideas__content.show {
  height: 164px;
}
.ideas__title {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 200%;
}
.ideas__text {
  max-width: 773px;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  padding-bottom: 40px;
}
.ideas__link {
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}
.ideas__img {
  max-width: 870px;
}
.ideas__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px 60px 0px 60px;
}

.product {
  padding-bottom: 250px;
  min-height: 712px;
}
.product__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  text-align: center;
}
.product__wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__text {
  padding: 20px 20px 33px;
}
.product__name {
  font-size: 18px;
  line-height: 200%;
}
.product__category {
  margin: 10px 0;
  font-size: 14px;
  line-height: 200%;
  color: #c4c4c4;
}
.product__idr {
  margin-top: 20px;
  font-size: 14px;
  line-height: 200%;
}/*# sourceMappingURL=style.css.map */