@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*:focus,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #564e4e;
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 73px;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

aside {
  position: fixed;
  right: -100%;
  width: 300px;
  height: 100vh;
  top: 0;
  padding-top: 250px;
  background: rgb(66, 66, 66);
  z-index: 5;
  text-align: center;
  transition: all 0.3s ease-out;
}
aside .menu {
  list-style: none;
}
aside .menu li {
  margin-bottom: 10px;
}
aside .menu li a {
  color: white;
}
aside .submenu {
  max-height: 0;
  z-index: 6;
  list-style: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
aside .submenu li {
  margin: 5px 0;
}
aside .submenu.active {
  max-height: 118px;
  transition: max-height 0.5s ease-in;
}
aside #submenu::after {
  content: "";
  position: absolute;
  right: 93px;
  top: 262px;
  transform: translateY(-50%);
  width: 9px;
  height: 5px;
  background: url("../img/arrow_down.svg");
}

header {
  height: 100vh;
  min-height: 900px;
  padding: 40px 0 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-1.jpg") no-repeat center/cover;
  position: relative;
}
header .navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  position: relative;
}
header .navbar__logo {
  display: flex;
  justify-content: flex-start;
}
header .navbar__logo a {
  transition: all 0.2s;
}
header .navbar__logo:hover a {
  transform: scale(1.1);
}
header .navbar__button {
  display: none;
  flex-direction: column;
  gap: 4px;
}
header .navbar__button span {
  display: block;
  border: 1px solid #ffffff;
  width: 20px;
}
header .navbar__menu {
  width: 461px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  position: relative;
}
header .navbar__menu li a {
  transition: all 0.2s;
  color: #ffffff;
}
header .navbar__menu li:hover > a {
  color: rgb(250, 220, 217);
}
header .navbar__submenu {
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 27px;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #333;
  border-radius: 10%;
}
header .navbar__submenu li {
  margin: 5px 0;
}
header .navbar #submenu {
  position: relative;
}
header .navbar #submenu::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 5px;
  background: url("../img/arrow_down.svg");
}
header .navbar #submenu:hover .navbar__submenu {
  opacity: 1;
}
header .navbar div {
  flex-basis: 33.33%;
}
header .navbar__cart {
  display: flex;
  justify-content: flex-end;
}
header .navbar__cart a {
  transition: all 0.2s;
}
header .navbar__cart:hover a {
  transform: scale(1.1);
}
header .main {
  margin-top: 161px;
}
header .main__title {
  max-width: 834px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}
header .main__descr {
  max-width: 574px;
  margin: 48px auto 0;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
}
header .main__input {
  width: 360px;
  margin: 60px auto 0;
  position: relative;
}
header .main__input input {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  padding: 16px 19px;
  color: #ffffff;
  transition: all 0.2s;
}
header .main__input input:focus {
  border: 1px solid #ffb0a9;
}
header .main__btn {
  position: absolute;
  top: 11px;
  right: 9px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: url("../img/search.svg") no-repeat center/cover;
  transition: all 0.3s;
  cursor: pointer;
}
header .main__btn:hover {
  transform: scale(1.1);
}

#header-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-1.jpg") no-repeat center/cover;
}

#header-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-2.jpg") no-repeat center/cover;
}

#header-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-3.jpg") no-repeat center/cover;
}

.swiper-pagination {
  bottom: 60px !important;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fadcd9;
  opacity: 1;
  margin: 0 10px !important;
}
.swiper-pagination-bullet-active {
  background: #f79489;
  border: 1px solid #f79489;
}

.advantages {
  padding: 76px 0 200px;
  min-height: 372px;
}
.advantages__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  color: #564e4e;
}
.advantages__wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
  gap: 20px;
}
.advantages__item {
  width: 100%;
  padding: 16px 20px 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 0px #fadcd9;
  transition: all 0.3s;
  border-radius: 10px;
}
.advantages__item:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 0 2px #fadcd9, 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
}
.advantages__icon {
  padding: 10px;
}
.advantages__title {
  margin: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}
.advantages__descr {
  font-size: 18px;
  line-height: 200%;
}
.advantages__link a {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}

.ideas {
  padding-bottom: 200px;
  min-height: 611px;
  background: linear-gradient(279.85deg, #ffffff 0%, #faf5f2 100%);
}
.ideas__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 33px;
}
.ideas__block {
  height: 562px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 50px;
}
.ideas__block::-webkit-scrollbar {
  background-color: #fadcd9;
  width: 2px;
  height: 100px;
}
.ideas__block::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: #f79489;
  border-radius: 2px;
}
.ideas__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
}
.ideas__descr {
  max-width: 806px;
  padding: 20px 0;
  font-size: 18px;
  line-height: 200%;
}
.ideas__item {
  position: relative;
  cursor: pointer;
}
.ideas__item::after, .ideas__item::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 16px;
  background: #f79489;
  height: 2px;
}
.ideas__item::after {
  transform: rotate(-90deg);
}
.ideas__content {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.ideas__content.show {
  height: 164px;
}
.ideas__title {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 200%;
}
.ideas__text {
  max-width: 773px;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
  padding-bottom: 40px;
}
.ideas__link {
  font-size: 18px;
  line-height: 200%;
  color: #f79489;
}
.ideas__img {
  transition: all 0.5s;
}
.ideas__img:hover {
  transform: scale(1.02);
}
.ideas__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px 60px 0px 60px;
}

.product {
  padding-bottom: 250px;
  min-height: 712px;
}
.product__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  text-align: center;
}
.product__wrapper {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(297px, 1fr));
  gap: 20px;
}
.product__item {
  transition: all 0.4s ease-in-out;
}
.product__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(206, 150, 150);
  background-color: #fadcd9;
}
.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__text {
  padding: 20px 20px 33px;
}
.product__name {
  font-size: 18px;
  line-height: 200%;
}
.product__category {
  margin: 10px 0;
  font-size: 14px;
  line-height: 200%;
  color: #c4c4c4;
}
.product__idr {
  margin-top: 20px;
  font-size: 14px;
  line-height: 200%;
}

.reviews {
  position: relative;
  min-height: 654px;
  padding-bottom: 248px;
}
.reviews__title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 110px;
}
.reviews__caption {
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;
  margin-bottom: 10px;
}
.reviews__descr {
  font-size: 18px;
  line-height: 200%;
  min-height: 144px;
  margin-bottom: 20px;
}
.reviews__client {
  display: flex;
  gap: 10px;
}
.reviews__photo {
  width: 60px;
  height: 60px;
}
.reviews__photo img {
  border-radius: 50%;
}
.reviews__info-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
}
.reviews__info-prof {
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;
}
.reviews__block {
  min-height: 260px;
}
.reviews .swiper-wrapper {
  position: static;
}
.reviews .reviewsSwiper {
  position: static;
}

.make {
  padding: 200px 0;
}
.make__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 80px;
}
.make__img {
  transition: all 0.5s;
}
.make__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px 60px 60px 0px;
}
.make__img:hover {
  transform: scale(1.02);
}
.make__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  margin-bottom: 20px;
}
.make__descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 40px;
}
.make__input {
  width: 400px;
  position: relative;
}
.make__input input {
  padding: 16px 20px;
  background: #fefcfb;
  border: 1px solid #fadcd9;
  border-radius: 30px;
  font-size: 14px;
  line-height: 200%;
  color: #f79489;
  transition: all 0.3s;
}
.make__input input::-webkit-input-placeholder {
  color: #f79489;
}
.make__input input:focus {
  border: 1px solid #ffb0a9;
}
.make__btn {
  background: url("../img/arrow.svg") no-repeat center;
  background-color: #fadcd9;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.make__btn:hover {
  transform: scale(1.15);
}

.footer {
  background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
  padding: 100px 0 40px;
  min-height: 600px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: unset;
}
.footer__logo {
  width: 238px;
  height: 70px;
  margin-right: 34px;
}
.footer__logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.footer__logo img:hover {
  transform: scale(1.05);
}
.footer__item ul {
  list-style: none;
}
.footer__item ul li {
  margin-bottom: 24px;
}
.footer__item ul li a {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  transition: all 0.3s;
}
.footer__item ul li a:hover {
  color: #fadcd9;
}
.footer__item ul li:nth-child(1) {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #fadcd9;
}
.footer__descr {
  text-align: center;
  margin-top: 197px;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .footer__wrapper {
    gap: 61px;
  }
  .footer__descr {
    margin-top: 161px;
  }
  .reviews__descr {
    min-height: 216px;
  }
  header .navbar__menu {
    justify-content: center;
    width: auto;
    -moz-column-gap: 37px;
         column-gap: 37px;
    row-gap: 6px;
  }
}
@media (max-width: 992px) {
  .reviews__descr {
    min-height: 296px;
  }
}
@media (max-width: 768px) {
  header .navbar__menu {
    display: none;
  }
  header .navbar__button {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .navbar {
    align-items: center;
  }
  header .navbar__cart {
    height: 24px;
    margin-right: 34px;
  }
  aside.active {
    right: 0;
  }
  .button {
    display: flex;
    position: absolute;
    z-index: 10;
    right: 75px;
    top: 53px;
    flex-direction: column;
    gap: 4px;
  }
  .button span {
    display: block;
    border: 1px solid #ffffff;
    width: 20px;
  }
  .button span:nth-child(1) {
    transform: rotate(45deg);
  }
  .button span:nth-child(3) {
    transform: rotate(-45deg) translateY(-4px) translateX(4px);
  }
  .button span:nth-child(2) {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
  .make__input {
    width: 280px;
  }
  .navbar__logo {
    width: 86px;
    height: 25px;
  }
  .navbar__logo a img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  header {
    min-height: auto;
    max-height: 406px;
  }
  header .main {
    margin-top: 40px;
  }
  header .main__title {
    max-width: 229px;
    font-size: 18px;
    line-height: 27px;
  }
  header .main__descr {
    max-width: 292px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 200%;
  }
  header .main__input {
    margin-top: 20px;
    width: 280px;
  }
  header .main__input input {
    padding: 9px 10px;
    font-size: 10px;
    line-height: 200%;
  }
  header .main__btn {
    width: 28px;
    height: 28px;
    top: 5px;
  }
  .swiper-pagination {
    bottom: 20px !important;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fadcd9;
    opacity: 1;
    margin: 0 4px !important;
  }
  .swiper-pagination-bullet-active {
    background: #f79489;
    border: 1px solid #f79489;
  }
  .advantages {
    padding: 20px 0 100px;
  }
  .advantages__header {
    display: none;
  }
  .advantages__item {
    padding: 10px 8px 10px 10px;
  }
  .advantages__icon {
    width: 28px;
    height: 28px;
    padding: 4.67px;
  }
  .advantages__icon img {
    width: 100%;
    height: 100%;
  }
  .advantages__title {
    font-size: 12px;
    margin: 10px 0 0;
  }
  .advantages__descr {
    font-size: 12px;
  }
  .advantages__link {
    margin-top: 10px;
  }
  .advantages__link a {
    font-size: 12px;
  }
  .ideas {
    padding-bottom: 100px;
    min-height: 494px;
  }
  .ideas__wrapper {
    gap: 100px;
  }
  .ideas__img {
    grid-row: 1;
  }
  .ideas__header {
    font-size: 18px;
  }
  .ideas__descr {
    font-size: 12px;
  }
  .ideas__block {
    height: auto;
    padding-right: unset;
    overflow-y: unset;
  }
  .ideas__title {
    padding-bottom: 10px;
    font-size: 12px;
  }
  .ideas__text {
    font-size: 12px;
  }
  .ideas__content.show {
    height: 136px;
  }
  .ideas__item::before, .ideas__item::after {
    width: 10px;
    height: 1px;
  }
  .ideas__link {
    margin-top: 20px;
    font-size: 12px;
  }
  .product {
    padding-bottom: 140px;
  }
  .product__title {
    font-size: 18px;
  }
  .product__wrapper {
    padding-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
    gap: 10px;
  }
  .product__img {
    padding: 19px 33px;
    width: 163px;
    height: 154px;
    margin: 0 auto;
  }
  .product__img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .product__text {
    padding: 10px 0 0 17px;
  }
  .product__name {
    font-size: 14px;
  }
  .product__rating {
    width: 76px;
    height: 12px;
  }
  .product__rating img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .product__category, .product__idr {
    font-size: 12px;
  }
  .reviews {
    min-height: unset;
    padding-bottom: 48px;
  }
  .reviews__title {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .reviews__caption {
    font-size: 14px;
  }
  .reviews__descr {
    font-size: 12px;
    min-height: unset;
    margin-bottom: 14px;
  }
  .reviews__block {
    min-height: unset;
    margin-bottom: 40px;
  }
  .reviews__photo {
    width: 40px;
    height: 40px;
  }
  .reviews__photo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .reviews__client {
    align-items: center;
  }
  .reviews__item {
    align-items: center;
  }
  .reviews__info-name, .reviews__info-prof {
    font-size: 14px;
  }
  .make {
    padding: 100px 0;
  }
  .make__wrapper {
    gap: 40px;
  }
  .make__title {
    font-size: 14px;
  }
  .make__descr {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .make__input input {
    font-size: 10px;
    padding: 9px 10px;
  }
  .make__btn {
    top: 5px;
    width: 28px;
    height: 28px;
  }
  .footer {
    padding: 20px 0 28px;
  }
  .footer__logo {
    width: 124px;
    height: 36px;
  }
  .footer__wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .footer__item ul li {
    margin-bottom: 20px;
  }
  .footer__item ul li a {
    font-size: 12px;
    line-height: 18px;
  }
  .footer__item ul li:nth-child(1) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
  }
  .footer__descr {
    margin-top: 100px;
    font-size: 12px;
    line-height: 18px;
  }
}/*# sourceMappingURL=style.css.map */