@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin flex-block() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

*,
*:focus,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #564e4e;
    outline: none;
}

.container {
    margin: 0 auto;
    // width: 1760px;
    padding: 0 73px;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

header {
    height: 100vh;
    min-height: 900px;
    padding: 40px 0 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-1.jpg") no-repeat center / cover;
    position: relative;
    .navbar {
        @include flex-block;
        &__logo {
            display: flex;
            justify-content: flex-start;
            a {
                transition: all 0.2s;
            }
            &:hover a {
                transform: scale(1.1);
            }
        }
        &__menu {
            @include flex-block;
            list-style: none;
            gap: 60px;
            font-size: 18px;
            line-height: 22px;
            position: relative;
            li a {
                transition: all 0.2s;
                color: #ffffff;
            }
            li:hover > a {
                color: rgb(250, 220, 217);
            }
        }
        &__submenu {
            list-style: none;
            padding: 10px;
            position: absolute;
            top: 27px;
            left: 0;
            opacity: 0;
            transition: all 0.3s ease;
            background-color: #333;
            border-radius: 10%;
            li {
                margin: 5px 0;
            }
        }
        #submenu {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: -15px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 5px;
                background: url("../img/arrow_down.svg");
            }
        }
        #submenu:hover .navbar__submenu {
            opacity: 1;
        }
        div {
            flex-basis: 33.33%;
        }
        &__cart {
            display: flex;
            justify-content: flex-end;
            a {
                transition: all 0.2s;
            }
            &:hover a {
                transform: scale(1.1);
            }
        }
    }
    .main {
        margin-top: 161px;
        &__title {
            max-width: 834px;
            margin: 0 auto;

            font-weight: 600;
            font-size: 48px;
            line-height: 72px;
            text-align: center;
            color: #ffffff;
        }
        &__descr {
            max-width: 574px;
            margin: 48px auto 0;

            font-size: 18px;
            line-height: 200%;
            text-align: center;
            color: #ffffff;
        }
        &__input {
            width: 360px;
            margin: 60px auto 0;
            position: relative;
            input {
                width: 100%;
                background: rgba(255, 255, 255, 0.5);
                border: 1px solid #ffffff;
                border-radius: 30px;
                font-weight: 500;
                font-size: 14px;
                line-height: 200%;
                padding: 16px 19px;
                color: #ffffff;
                transition: all 0.2s;
                &:focus {
                    border: 1px solid #ffb0a9;
                }
            }
        }
        &__btn {
            position: absolute;
            top: 11px;
            right: 9px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: none;
            background-image: url("../img/search.svg");
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@for $i from 1 through 3 {
    #header-#{$i} {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/main_bg-#{$i}.jpg") no-repeat center / cover;
    }
}

.swiper {
    &-pagination {
        bottom: 60px !important;
        &-bullet {
            width: 10px;
            height: 10px;
            background: #fadcd9;
            opacity: 1;
            margin: 0 10px !important;
            &-active {
                background: #f79489;
                border: 1px solid #f79489;
            }
        }
    }
}

.advantages {
    padding: 76px 0 200px;
    min-height: 372px;
    &__header {
        font-weight: 500;
        font-size: 36px;
        line-height: 200%;
        color: #564e4e;
    }
    &__wrapper {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }
    &__item {
        width: 100%;
        padding: 16px 20px 20px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #fadcd9;
        box-shadow: 4px 2px 10px 2px rgba(247, 148, 137, 0.2);
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
            background-color: #fadcd9;
            color: #333;
        }
    }
    &__icon {
        padding: 10px;
    }
    &__title {
        margin: 10px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
    }
    &__descr {
        font-size: 18px;
        line-height: 200%;
    }
    &__link a {
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 200%;
        color: #f79489;
    }
}

.ideas {
    padding-bottom: 200px;
    min-height: 611px;
    &__wrapper {
        @include flex-block;
        flex-wrap: nowrap;
        align-items: unset;
    }
    &__block {
        height: 562px;
        overflow-y: scroll;
        padding-right: 50px;
        &::-webkit-scrollbar {
            background-color: #fadcd9;
            width: 2px;
            height: 100px;
        }
        &::-webkit-scrollbar-thumb {
            min-height: 20px;
            background-color: #f79489;
            border-radius: 2px;
        }
    }
    &__header {
        font-weight: 500;
        font-size: 36px;
        line-height: 200%;
    }
    &__descr {
        max-width: 806px;
        padding: 20px 0;
        font-size: 18px;
        line-height: 200%;
    }
    &__item {
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 18px;
            right: 0;
            width: 16px;
            border: 1px solid #f79489;
        }
        &::after {
            transform: rotate(-90deg);
        }
        cursor: pointer;
    }
    &__content {
        height: 0;
        transition: height 0.3s ease-in-out;
        overflow: hidden;
        &.show {
            height: 164px;
        }
    }
    &__title {
        padding-bottom: 20px;
        font-size: 18px;
        line-height: 200%;
    }
    &__text {
        max-width: 773px;
        font-weight: 300;
        font-size: 18px;
        line-height: 200%;
        padding-bottom: 40px;
    }
    &__link {
        font-size: 18px;
        line-height: 200%;
        color: #f79489;
    }
    &__img {
        max-width: 870px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 60px 60px 0px 60px;
        }
    }
}

.product {
    padding-bottom: 250px;
    min-height: 712px;
    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 200%;
        text-align: center;
    }
    &__wrapper {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }
    &__item {
        transition: all 0.4s ease-in-out;
        &:hover {
            transform: scale(1.05);

            box-shadow: 0 0 20px rgb(206, 150, 150);

            background-color: #fadcd9;
        }
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        padding: 20px 20px 33px;
    }
    &__name {
        font-size: 18px;
        line-height: 200%;
    }
    &__category {
        margin: 10px 0;
        font-size: 14px;
        line-height: 200%;
        color: #c4c4c4;
    }
    &__idr {
        margin-top: 20px;
        font-size: 14px;
        line-height: 200%;
    }
}

.reviews {
    position: relative;
    min-height: 654px;
    padding-bottom: 248px;
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 36px;
        line-height: 200%;
        margin-bottom: 110px;
    }
    &__caption {
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
        margin-bottom: 10px;
    }
    &__descr {
        font-size: 18px;
        line-height: 200%;
        min-height: 144px;
        margin-bottom: 20px;
    }
    &__client {
        display: flex;
        gap: 10px;
    }
    &__photo {
        width: 60px;
        height: 60px;
        img {
            border-radius: 50%;
        }
    }
    &__info {
        &-name {
            font-weight: 500;
            font-size: 18px;
            line-height: 200%;
        }
        &-prof {
            font-weight: 300;
            font-size: 14px;
            line-height: 200%;
        }
    }
    &__block {
        min-height: 260px;
    }
    .swiper-wrapper {
        position: static;
    }
    .reviewsSwiper {
        position: static;
    }
}

.make {
    padding: 200px 0;
    &__wrapper {
        @include flex-block;
    }
    &__img {
        max-width: 870px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 60px 60px 60px 0px;
        }
    }
    &__info {
        max-width: 810px;
    }
    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 200%;
        margin-bottom: 20px;
    }
    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 200%;
        margin-bottom: 40px;
    }
    &__input {
        width: 400px;
        position: relative;
        input {
            padding: 16px 20px;
            background: #fefcfb;
            border: 1px solid #fadcd9;
            border-radius: 30px;

            font-size: 14px;
            line-height: 200%;
            color: #f79489;
            &::-webkit-input-placeholder {
                color: #f79489;
            }
            transition: all 0.3s;
            &:focus {
                border: 1px solid #ffb0a9;
            }
        }
    }
    &__btn {
        background: url("../img/arrow.svg") no-repeat center;
        background-color: #fadcd9;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.15);
        }
    }
}

.footer {
    background: linear-gradient(275.58deg, #000000 0%, #4b4b4b 100%);
    padding: 100px 0 40px;
    min-height: 600px;
    &__wrapper {
        @include flex-block;
        align-items: unset;
        gap: 239px;
    }
    &__logo {
        width: 238px;
        height: 70px;
        margin-right: 34px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    &__item {
        ul {
            list-style: none;
            li {
                margin-bottom: 24px;
                a {
                    font-size: 18px;
                    line-height: 27px;
                    color: #ffffff;
                    transition: all 0.3s;
                    &:hover {
                        color: #fadcd9;
                    }
                }
                &:nth-child(1) {
                    margin-bottom: 20px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 36px;
                    color: #fadcd9;
                }
            }
        }
    }
    &__descr {
        text-align: center;
        margin-top: 197px;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
    }
}
